*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: PingFang SC;
    font-weight: 400;
}


.page-header{
    display: flex;
    justify-content: center;
    height: 75px;
    background: #3A3B44;
    min-width: 1000px;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
.box-left{
    display: inline-flex;
    align-items: center;
}
.box-left img{
    width: 130px;
    height: 41px;
    margin-right: 40px;
}
.box-left a{
    margin-right: 50px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.box-left a:hover{
    color: #58A673;
}
.box-right{
    font-size: 0;
}
.box-right .box-one{
    width: 100px;
    height: 36px;
    background: rgba(28, 163, 143, 0);
    border: 1px solid #58A673;
    border-radius: 4px;
    color: #58A673;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}
.box-right .box-one:hover{
    border: 1px solid #58af08;
    border-radius: 4px;
    color: #58af08;
}
.box-right .box-two{
    width: 100px;
    height: 36px;
    background: #58A673;
    border: 1px solid #58A673;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}
.box-right .box-two:hover{
    border: 1px solid #58af08;
    background: #58af08;
    border-radius: 4px;
}



.body{
    display: grid;
    justify-items: center;
    background: #3D3E48;
    min-width: 1000px;
}
.one-box{
    display: grid;
    justify-items: center;
    width: 1000px;
}
.one-box h3{
    font-size: 18px;
    color: #B1B1B5;
}
.one-box h2{
    margin-top: 35px;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
}
.one-box .two-lines{
    margin-top: 45px;
    margin-bottom: 55px;
    width: 456px;
    /* height: 45px; */
    font-size: 15px;
    font-weight: 500;
    color: #58A673;
    line-height: 30px;
    text-align: center;
}
.one-box .word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 34px;
    margin-bottom: 8px;
}
.one-box p{
    width: 130px;
    font-size: 14px;
    color: #B1B1B5;
}
.one-box img{
    width: 850px;
    height: 89px;
    margin-bottom: 44px;
    border: 1px dashed #ffffff;
}



._two{
    background: #F6F8FA;
}
.two-box{
    display: grid;
    justify-items: center;
    width: 1000px;
}
.two-box h2{
    margin-top: 65px;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 500;
    color: #3F464B;
    line-height: 22px;
}
.two-box h3{
    font-size: 18px;
    color: #999999;
    margin-bottom: 60px;
}


.img-page{
    display: flex;
    column-gap: 140px;
}
.img-box{
    display: grid;
    justify-items: center;
}
.img-box img{
    width: 200px;
    height: 110px;
    border: 1px dashed #3D3E48FF;
}
.img-box h3{
    margin-top: 19px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #3F464B;
}
.img-box p{
    font-size: 14px;
    color: #999999;
    margin-bottom: 84px;
}


._three{
    background: #3D3E48;
}
.three-box{
    display: grid;
    justify-items: center;
    width: 1000px;
    margin-top: 69px;
    margin-bottom: 70px;
}
.three-box h2{
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 22px;
    margin-bottom: 27px;
}
.three-box h3{
    font-size: 18px;
    color: #B1B1B5;
    margin-bottom: 50px;
}
.personnel{
    display: flex;
    column-gap: 81px;
}
.personnel a{
    display: grid;
    justify-items: center;
    font-size: 16px;
    color: #8A8B91;
    text-decoration: none;
    position: relative;
}
.personnel a:hover{
    color: #62BD82;
}
.personnel span{
    position: absolute;
}
.personnel a:hover span{
    display: block;
    width: 120px;
    height: 2px;
    background: #62BD82;
    margin-top: 40px;
}

.introduce{
    display: flex;
    column-gap: 31px;
}
.introduce-box{
    width: 313px;
    height: 580px;
    background: #FFFFFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.09);
    border-radius: 2px;   
    margin-top: 49px; 
    margin-bottom: 70px;
}
.introduce-box img{
    width: 313px;
    height: 250px;
}
.introduce-word{
    padding-left: 23px;
    padding-right: 34px;
}
.introduce-word h4{
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 16px;
    color: #3F464B;
}
.introduce-word h5{
    font-size: 12px;
    color: #999999;
}
.introduce-word p{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 12px;
    color: #3F464B;
    line-height: 20px;
}
.introduce-word h6{
    font-size: 12px;
    color: #A9A9A9;
}

.invitation{
    display: grid;
    justify-items: center;
}
.introduce-box button{
    width: 313px;
    height: 50px;
    background: #ffff;
    border: 1px dashed #ffff;
    color: #ffff;
    margin-top: 3px;
    outline: none;
}
.introduce-box:hover button{
    width: 313px;
    height: 50px;
    background: #62BD82;
    border: 1px dashed #62BD82;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
    margin-top: 8px;
    cursor: pointer;
    outline: none;
}


._four{
    background: #FFFFFFFF;
}
.four-box{
    display: grid;
    justify-items: center;
    width: 1000px;
    margin-top: 74px;
    margin-bottom: 58px;
}
.four-box h2{
    font-size: 32px;
    font-weight: 500;
    color: #3F464B;
    line-height: 22px;
}
.four-box h3{
    font-size: 18px;
    color: #999999;
    margin-top: 24px;
    margin-bottom: 64px;
}

.toppro-box{
    display: flex;
    height: 228px;
    margin-bottom: 22px;
}
.order-number{
    display: inline-block;
    height: 64px;
    width: 64px;
    background: #62BD82;
    border-radius: 50%;
}
.order-number p{
    margin-left: 23px;
    margin-top: 22px;
    font-size: 32px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 22px;
}
.order-number .line{
    display: block;
    width: 2px;
    height: 164px;
    background: #62BD82;
    margin-top: 20px;
    margin-left: 31px;
}
.order-number .arrow-left{
    display: block;
    width: 30px;
    height: 2px;
    background: #62BD82;
    transform: rotate(45deg);
    margin-top: -10px;
    margin-left: 7px;
}
.order-number .arrow-right{
    display: block;
    width: 30px;
    height: 2px;
    left: 15px;
    background: #62BD82;
    transform: rotate(-45deg);
    margin-top: -2px;
    margin-left: 27px;
}
.box-word{
    width: 444px;
    margin-left: 26px;
    margin-right: 143px;
    margin-top: 20px;
}
.box-word h2{
    font-size: 28px;
    color: #3F464B;
    line-height: 22px;
    margin-bottom: 25px;
}
.box-word p{
    font-size: 16px;
    color: #3F464B;
    line-height: 30px;
}
.box-img img{
    width: 310px;
    height: 200px;
}



._five{
    background: linear-gradient(0deg, #797A84, #34364A);
}
.five-box{
    display: grid;
    justify-items: center;
    width: 1000px;
    margin-top: 74px;
    margin-bottom: 80px;
}
.five-box h2{
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 22px;
}
.five-box h3{
    font-size: 18px;
    color: #B1B1B5;
    margin-top: 24px;
    margin-bottom: 61px;
}


.form{
    background: #F6F8FA;
    border-radius: 4px;
}

.form table{
    width: 1000px;
    height: 510px;
    opacity: 0.99;
}
.form tr{
    height: 72.5px;
    width: 200px;
    font-size: 15px;
    color: #667080;
    line-height: 22px;
}
.form .first{
    width: 300px;
    font-size: 15px;
    font-weight: 500;
    color: #305798;
    line-height: 22px;
    background: #E4E4E4FF;
    text-align: left;
}
.form span{
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #FFFFFF;
    border: 1px solid rgba(48, 87, 152, 0.3);
    border-radius: 50%;
    margin-right: 11px;
    margin-left: 31px;
}
.form p{
    font-size: 13px;
    font-weight: 500;
    color: #305798;
    line-height: 22px;
    padding-top: 1px;
    padding-left: 9px;
}
.form img{
    width: 31px;
    height: 31px;
}
.form .green{
    background: #a5f887;
}
.form .red{
    background: #fa9a8d;
}
.form th{
    background: #edeff8;
}



._six{
    background: #FFFFFF;
}
.six-box{
    display: grid;
    justify-items: center;
    width: 1000px;
    margin-top: 62px;
    margin-bottom: 138px;
}
.six-box h2{
    font-size: 32px;
    font-weight: 500;
    color: #3F464B;
    line-height: 22px;
}
.six-box h3{
    margin-top: 27px;
    margin-bottom: 75px;
    font-size: 18px;
    color: #999999;
}
.show{
    display: flex;
    column-gap: 175px;
}
.show-box{
    display: grid;
    justify-items: center;
}
.show-box img{
    width: 160px;
    height: 160px;
    margin-bottom: 52px;
    border: 1px dashed #3D3E48FF;
}
.show-box p{
    font-size: 18px;
    color: #3F464B;
}


._seven{
    background: #3D3E48FF;
}
.seven-box{
    display: grid;
    justify-items: center;
    width: 1000px;
    margin-top: 70px;
    margin-bottom: 72px;
}
.seven-box h2{
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 22px;
}
.seven-box h3{
    font-size: 18px;
    color: #B1B1B5;
    margin-top: 27px;
    margin-bottom: 61px;
}
.story{
    display: flex;
    column-gap: 31px;
}
.story-box{
    display: grid;
    justify-items: center;
}
.story-box img{
    width: 313px;
    height: 200px;
}
.story-box p{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 26px;
    margin-bottom: 64px;
    text-align: center;
}
.story-box .csr{
    width: 84px;
    height: 32px;
}

._eight{
    background: #F6F8FA;
}
.eight-box{
    display: flex;
    justify-items: center;
    width: 1000px;
    margin-top: 70px;
    margin-bottom: 70px;
    column-gap: 30px;
}
.brand{
    display: grid;
    justify-items: center;
    width: 313px;
    height: 330px;
    background: rgba(228, 228, 228, 0);
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}
.eight-box img{
    width: 168px;
    height: 53px;
    margin-top: 45px;
    margin-bottom: 31px;
}
.eight-box p{
    width: 256px;
    height: 73px;
    font-size: 16px;
    color: #3F464B;
    line-height: 28px;
    text-align: center;
}
.eight-box h3{
    font-size: 14px;
    color: #667080;
    margin-top: 50px;
    height: 14px;
}
.eight-box a{
    font-size: 14px;
    color: #667080;
    text-decoration: none;
    margin-bottom: 15px;
}


.page-footer{
    display: grid;
    justify-items: center;
    background: #1D1A33;
    min-width: 1000px;
}
.footer-box{
    display: flex;
    justify-items: center;
    width: 1000px;
    margin-top: 82px;
    margin-bottom: 86px;
}
.footer-box img{
    width: 130px;
    height: 50px;
    margin-right: 163px;
}

.words h3{
    font-size: 15px;
    color: #8A8B91;
    line-height: 24px;
}
.words span{
    display: block;
    width: 33px;
    height: 4px;
    background: #2B2744;
    margin-top: 17px;
    margin-bottom: 19px;
}
.words p{
    width: 224px;
    height: 71px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 28px;
}
.words-center{
    display: grid;
    margin-left: 98px;
    margin-right: 99px;
}
.words-center h3{
    font-size: 15px;
    color: #8A8B91;
    line-height: 24px;
}
.words-center span{
    display: block;
    width: 14px;
    height: 4px;
    background: #2B2744;
    margin-top: 17px;
    margin-bottom: 19px;
}
.words-center a{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 28px;
    text-decoration: none;
}
.words-center a:hover{
    color: #58A673;
}